body{
	background-image: url("http://i98.photobucket.com/albums/l274/better_than_me15_2006/new%20stufff/blood-1.jpg");
	background-size:cover;
	margin-top:60px;
}

.jumbotron{
	background-color: rgba(238,238,238,0.7);
}

h1{
	text-align:center;
}
h2{
	font-style: italic;
	text-align:center;
}
.container{
	margin: auto;
	height: 80%;
	width: 80%;
	
}

.thumbnail-container{
	width:100%;
	height:100%;
	margin:auto;
}

img{
	width:100%;
}

span{
	font-weight: bold;
}

footer{
	text-align: center;
}

a{
	color:red;
}



